node_modules
dist
.git
.gitignore
.env
.env.local
.env.*.local
.DS_Store
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
.vscode
.idea
.iml
*.swp
*.swo
*~
.turbo
coverage
.next
out
build
.cache
.parcel-cache
.nuxt
.cache
.vuepress/dist
.serverless/
.fusebox/
.dynamodb/
.tern-port
.venv
venv
ENV
env
